.landingDescription {
  border-radius: 3px;
  background-color: rgba(230, 230, 230, 0.81) !important;
  color: black;
  margin-top: 20px;
  padding: 20px;
}

.landingDescription h1 {
  display: flex;
  align-items: center;
}

.landingDescription p {
  display: flex;
  align-items: center;
}

.landingPageContainer {
  background-image: url('../../Images/guitar.jpg');
  background-size: cover;
}
