.landingDescription {
  margin: auto;
  padding: 75px;
  height: 500px;
  /* border: 1px solid black; */
  border-radius: 3px;
  background-color: rgba(230, 230, 230, 0.81) !important;
  color: black;
}

.landingJumbotron {
  height: 86.4vh;
  margin: 0;
  background-image: url('../../Images/guitar.jpg');
  background-size: cover;
  border-radius: 0; 
}
