.homeJumbotron {
    margin: 0;
    /* height: 86.4vh; */
    height: 50vh;
    background-image: url('../../Images/piano.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    border-radius: 0;
}

.leftJumbotron {
    border: 1px solid black;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.81);
}

.rightJumbotron {
    border: 1px solid black;
    padding: 20px;
    margin: auto;
}

.homeHr {
    background-color: white;
}

#addSongBtn {
    color: #fff;
    background-color: rgb(160,118,177);
    background-color: cutom-color;
    border-color: rgb(160,118,177);
    border-color: cutom-cor;
}

#addSongBtn:hover {
    color: #fff;
    background-color: rgb(143, 93, 162);
    background-color: cutom-color;
    border-color: rgb(143, 93, 162);
    border-color: cutom-cor;
}