.homeBody {
    background-image: url('../../Images/guitar.jpg');
    background-size: cover;
    padding: 10px;
    min-height: 25vh;
}

.homeJumbotron {
    margin: 0;
    min-height: 50vh;
    background-image: url('../../Images/piano.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    border-radius: 0;
    padding-bottom: 20px;
}

.leftJumbotron {
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.81);
}

.rightJumbotron {
    border: 1px solid black;
    padding: 20px;
    margin: auto;
}

.homeHr {
    background-color: white;
}

.recentHeader {
    color: white;
    padding: 30px;
    background-color: rgb(160,118,177);
}