.songForm {
    min-height: 90vh;
}

.addEditPageJumbotron {
    border-radius: 0;
    background-image: url('../../Images/pencil.jpg');
    background-size: cover;
    background-position: bottom;
    margin: 0;
}

.editJumboText {
    background-color: rgb(0, 0, 0, 0.8);
    border-radius: 5px;
    color: white;
    padding: 20px;
}

.editPageBody {
    background-color: black;
    color: white;
    padding: 20px;
}

.textArea {
    width: 100% !important;
    height: 100% !important;
}

.r1c1 {
    width: 100% !important;
    height: 310px !important;
    margin-bottom: 120px;
}

.r1c2 {
    width: 100% !important;
    height: 310px !important;
    margin-bottom: 80px;
}

.r2c1 {
    width: 100% !important;
    height: 200px !important;
    margin-top: 50px;
    margin-bottom: 40px;
}

.r3c1 {
    margin-top: 20px;
}

.songStructure {
    border: 1px solid rgb(136, 136, 136);
    border-radius: 3px;
    overflow-y:auto;
    height: 310px;
}

.addSectionBtn {
    float: right;
    margin-top: 10px;
}

.btnRow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnRow Button{
    margin-right: 10px;
    margin-bottom: 10px;
}

#completedStatus {
    margin-left: 10px;
    margin-top: 7px;
}

.completeSong {
    border: 1px solid rgb(206,212,218);
    border-radius: 5px;
    width: 170px;
    padding: 7px;
    justify-content: center;
    margin-bottom: 10px;
}

.successAlert {
    padding: 10px !important;
    border-color: rgb(40,167,69) !important;
    color: rgb(40,167,69) !important;
    background-color: white !important;
}