.songForm {
    min-height: 90vh;
}

.addEditPageJumbotron {
    border-radius: 0;
}

.textArea {
    width: 100% !important;
    height: 100% !important;
}

.r1c1 {
    width: 100% !important;
    height: 310px !important;
}

.r1c2 {
    width: 100% !important;
    height: 310px !important;
}

.r2c1 {
    width: 100% !important;
    height: 200px !important;
    margin-top: 50px;
    margin-bottom: 40px;
}

.songStructure {
    border: 1px solid rgb(206,212,218);
    border-radius: 3px;
    overflow-y:auto;
    height: 310px;
}

.addSectionBtn {
    float: right;
    margin-top: 10px;
}

.btnRow Button{
    margin-right: 10px;
    margin-bottom: 10px;
}

#completedStatus {
    margin-left: 10px;
    margin-top: 7px;
}

.completeSong {
    border: 1px solid rgb(206,212,218);
    border-radius: 5px;
    width: 170px;
    padding: 7px;
    justify-content: center;
    margin-bottom: 10px;
}

.successAlert {
    border-color: rgb(40,167,69) !important;
    color: rgb(40,167,69) !important;
    background-color: white !important;
}