body {
  margin: 0px;
  min-height: 100vh;
}

/* --------------------------------------------------------------------------------
Buttons
-------------------------------------------------------------------------------- */

  /* Purple button */

    /* light purple hover */

      .btn-purple {
        color: white;
        background-color: rgb(160,118,177);
        border: 2px solid rgb(160,118,177);
      }

      .btn-purple:hover {
        color: rgb(160,118,177);
        border: 2px solid rgb(160,118,177);
        background-color: rgb(255, 255, 255);
        border-color: rgb(160,118,177);
      }

    /* Outlined purple button */

      .btn-outline-purple {
        color: rgb(160,118,177);
        border: 2px solid rgb(160,118,177);
      }

      .btn-outline-purple:hover {
        color: rgb(255, 255, 255);
        background-color: rgb(160,118,177);
        border: 2px solid rgb(160,118,177);
      }

    /* dark purple hover */

      .btn-purple-dark {
        color: white;
        background-color: rgb(160,118,177);
        border: 2px solid rgb(160,118,177);
      }

      .btn-purple-dark:hover {
        color: white;
        border: 2px solid rgb(160,118,177);
        background-color: rgb(132, 98, 145);
        border-color: rgb(132, 98, 145);
      }

  /* Red Buttons */

      /* light red button */

      .btn-red-light {
        color: white;
        background-color: rgb(220,53,69);
        border: 2px solid rgb(220,53,69);
      }

      .btn-red-light:hover {
        color: rgb(220,53,69);
        background-color: white;
        border: 2px solid rgb(220,53,69);
      }

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  text-align: center;
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 5px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Layout
-------------------------------------------------------------------------------- */

.pageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 86.4vh;
}

.formPanel {
  box-sizing: border-box;
  max-width: 400px;
  padding: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.899) !important;
  color: white;
  justify-self: center;
}