.itwBody {
    padding: 10px;
    min-height: 50vh;
    background-color: #1a1a1a;
}

.itwJumbotron {
    background-image: url('../../Images/notation.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
}

.itwTitle {
    color: white;
    background-color: rgb(0, 0, 0, 0.81);
    border: 1px solid black;
    border-radius: 7px;
    width: 450px;
    padding: 50px;
}

.buttonCol {
    text-align: right;
}

.itwBtns {
    margin-bottom: 5px;
}

.itwListItem {
    margin: 10px 0;
    border: 1px solid rgb(206,212,218);
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(249, 249, 249);
    
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in
}

.itwListItem:hover {
    color: white;
    margin: 10px 0;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(84, 84, 84);
    /* background-image: linear-gradient(to right, rgb(234, 219, 255) , rgb(250, 250, 250)); */
}

.itwHr {
    background-color: white;
}

