.vsLyricsContainer {
    border: 1px solid black;
}

.vsInstrumentsContainer {
    border: 1px solid black;
}

.vsNotesContainer {
    border: 1px solid black;
}

.vsReferencesContainer {
    border: 1px solid black;
}