.completedBody {
    padding: 10px;
    min-height: 47vh;
}

.completedJumbotron {
    background-image: url('../../Images/microphone.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 0;
}

.completedJumbotronTitle {
    color: white;
    background-color: rgb(0, 0, 0, 0.81);
    border: 1px solid black;
    border-radius: 7px;
    width: 450px;
    padding: 50px;
}