.nav-right {
  float: right;
}

.navbarBrand {
  color: black;
}

.navbarBrand:hover {
  color: rgb(160,118,177);
}

.nav-link {
  color: black;
  text-align: left;
}

.nav-link:hover {
  color: rgb(160,118,177);
}

.logo {
  height: 50px;
}

.dropdownItem:hover {
  background-color: white;
}