.navBar {
  margin-bottom: 80px;
}

.link {
  color: black;
  transition: 0.2s;
}

.link:hover {
  color: rgb(160,118,177) !important;
  text-decoration: none;
}

.nav-right {
  float: right;
  list-style: none;
}

.navbarBrand {
  color: black;
}

.navbarBrand:hover {
  color: rgb(160,118,177);
}

.nav-link {
  color: black !important;
  text-align: right;
}

.nav-link:hover {
  color: rgb(160,118,177);
}

.logo {
  max-height: 50px;
}

.dropdownItem:hover {
  background-color: white;
}